---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import selfie from "../assets/IMG_4381.jpg";
import "../styles/global.css";
import "../styles/index.css";

// 定数定義
const pageTitle = "tomy | home";
---

<Layout title={pageTitle}>
  <h1>Welcome to my page</h1>
  <h2>I'm tomy, a software engineer</h2>

  <div class="intro">
    <li class="link-card">
      <a href="./about">
        <Image
          id="selfie"
          class="link-card-image"
          src={selfie}
          alt="メニューアイコン"
        />
      </a>
    </li>
    <div class="activities">
      <h2>Recent Activities</h2>
      <a href="works" class="a-view-all">view all →</a>
      <li class="link-card"></li>
    </div>
  </div>

  <p>
    Hi, I'm tomy, a software engineer from Japan. I'm a fan of technologies,
    programming, and design. I'm also interested in Iot Product and Game
    Development. You can read my blog with a click on the button above.
  </p>
</Layout>